.entete {
	display: flex;
	flex-direction:row;  
	background: black; 
}
.entete__center{
	color: white;
}
.entete-right button:first-of-type {
	height: 40px;
	background: white;


}
.Entete__Recherche{
	height: 70px;
	padding: 0 24px;
	display: flex;
	align-items: center;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
	justify-content: space-between;
	position: fixed;
	width: 70%;
	z-index: 2;
	background: white;
}
.Entete__Recherche{
	display: inline-flex;
	border-radius: 24px;
	overflow: hidden;
	align-items: center;
	border: 1px solid var(--grey-med);
	transition: box-shadow 0.2s ease;
}
.Entete__Recherche:hover {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
}
.Entete__Recherche button {
	background: transparent;
	height: 48px;
	padding: 0 16px;
	display: flex;
	align-items: center;
	border: none;
	font-family: "Circular Medium";
	cursor: pointer;
}
.Entete__Recherche button:first-of-type {
	padding-left: 24px;
}
.Entete__Recherche button:last-of-type{
	padding-right: 7px;
}
.button{
	height: 20px;
	width: 20px;
}

.Entete__Recherche span {
	width: 1px;
	height: 20px;
	background: black;
}
.Entete__RechercheIcon {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: pink;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 16px;
}
.Entete__RechercheIcon img {
	width: 12px;
	height: 12px;
}

.position { 
	margin-top: 30px;     
	width: 90%;     
	height: 800px;    
	border-radius: 15px;    
	margin-left: 70px 	
}
.milieu{
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
}



